@import "tailwindcss";

@font-face {
  font-family: "Pretendard";
  src: url("assets/fonts/PretendardVariable.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@theme {
  --font-sans:
    "Pretendard", -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", sans-serif;
  --color-black: #121212;
  --color-white: #fafafa;
  --color-gray-100: #e2e2e2;
  --color-gray-200: #d0d3d7;
  --color-gray-300: #b9bdc2;
  --color-gray-400: #8f9297;
  --color-gray-500: #75787e;
  --color-gray-600: #64676d;
  --color-gray-700: #474a50;
  --color-gray-800: #36383e;
  --color-gray-900: #212224;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-black);
  /* 스크롤 바운스(고무줄 효과) 방지 */
  overflow: hidden;
  overscroll-behavior-y: none;
}

body {}

::-webkit-scrollbar {
  display: none;
}

/* 앱 전용 컨테이너 설정 */
#root {
  /* [레이아웃 크기 및 위치] */
  width: 100%;
  max-width: 393px;
  height: 100dvh;
  margin: 0 auto;
  position: relative;
  background-color: var(--color-black);

  /* 노치 및 홈바 대응 */
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  box-sizing: border-box;

  /* [스크롤 제어] */
  overflow: hidden;

  /* [앱 제스처/터치 제어] */
  touch-action: manipulation;

  /* 텍스트 선택 방지 */
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

@keyframes fade-in-out {
  0% {
    opacity: 1;
  }

  85% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.animate-fade-in-out {
  animation: fade-in-out 3s ease-in-out forwards;
}

/* 스크롤바 숨기기 */
#root::-webkit-scrollbar {
  display: none;
}

textarea {
  user-select: text;
  -webkit-user-select: text;
}

/* Edge 브라우저 기본 눈 아이콘 및 삭제 버튼 숨기기 */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

/* 비활성 점의 색상 */
.swiper-pagination-bullet {
  background-color: var(--color-gray-300) !important;
  border-radius: 4px !important;
  opacity: 1;
  margin: 0 !important;
}

.swiper-pagination-bullet-active {
  background-color: var(--color-gray-300) !important;
}

/* Bottom Card Pagination */
.bottom-card-pagination .swiper-pagination-bullet {
  width: 6px !important;
  height: 6px !important;
  background-color: rgba(255, 255, 255, 0.3) !important;
  border-radius: 50% !important;
  opacity: 1 !important;
}

.bottom-card-pagination .swiper-pagination-bullet-active {
  background-color: rgba(255, 255, 255, 1) !important;
}


/* 보드 이름 변경 바텀시트 애니메이션 */
@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  15% {
    transform: translateX(-4px);
  }

  30% {
    transform: translateX(4px);
  }

  45% {
    transform: translateX(-2px);
  }

  60% {
    transform: translateX(2px);
  }

  75% {
    transform: translateX(-1px);
  }
}

.animate-shake {
  animation: shake 0.4s ease-in-out;
}

@layer utilities {
  .H0 {
    font-size: 28px;
    font-weight: 700;
  }

  .H1 {
    font-size: 24px;
    font-weight: 500;
  }

  .H2 {
    font-size: 20px;
    font-weight: 600;
  }

  .H3 {
    font-size: 18px;
    font-weight: 600;
  }

  .H4 {
    font-size: 16px;
    font-weight: 600;
  }

  .ST0 {
    font-size: 20px;
    font-weight: 500;
  }

  .ST1 {
    font-size: 18px;
    font-weight: 500;
  }

  .ST2 {
    font-size: 16px;
    font-weight: 500;
  }

  .B0 {
    font-size: 18px;
    font-weight: 400;
  }

  .B1 {
    font-size: 16px;
    font-weight: 400;
  }

  .B2 {
    font-size: 14px;
    font-weight: 400;
  }
}

/* .home-scrollbar {
  height: 1px !important;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 1px;
} */

.home-scrollbar {
  display: none;
}

/* .home-scrollbar .swiper-scrollbar-drag {
  background: #fafafa;
  border-radius: 1px;
  height: 1.5px;
} */

/* 네이티브 스크롤바 숨기기 */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}