@import "tailwindcss";

@font-face {
  font-family: "Pretendard";
  src: url('assets/fonts/PretendardVariable.woff2') format('woff2');
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@theme {
  --font-sans: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
  --color-black: #121212;
  --color-white: #FAFAFA;
  --color-gray-100: #E2E2E2;
  --color-gray-200: #D0D3D7;
  --color-gray-300: #E3E3E3;
  --color-gray-400: #8F9297;
  --color-gray-500: #75787E;
  --color-gray-600: #64676D;
  --color-gray-700: #474A50;
  --color-gray-800: #36383E;
  --color-gray-900: #212224;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-black);
  /* 스크롤 바운스(고무줄 효과) 방지 */
  overflow: hidden;
  overscroll-behavior-y: none;
}

body {}


/* 앱 전용 컨테이너 설정 */
#root {
  /* [레이아웃 크기 및 위치] */
  width: 100%;
  max-width: 430px;
  height: 100dvh;
  margin: 0 auto;
  position: relative;
  background-color: var(--color-black);

  /* 노치 및 홈바 대응 */
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  box-sizing: border-box;

  /* [스크롤 제어] */
  overflow: hidden;

  /* [앱 제스처/터치 제어] */
  touch-action: none;

  /* 텍스트 선택 방지 */
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}


/* 스크롤바 숨기기 */
#root::-webkit-scrollbar {
  display: none;
}

input,
textarea {
  user-select: text;
  -webkit-user-select: text;
}

/* Edge 브라우저 기본 눈 아이콘 및 삭제 버튼 숨기기 */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

/* 비활성 점의 색상 */
.swiper-pagination-bullet {
  background-color: var(--color-white) !important;
  border-radius: 4px !important;
  opacity: 1;
  margin: 0 !important;
}

.swiper-pagination-bullet {
  background-color: var(--color-white) !important;
  border-radius: 4px !important;
  opacity: 1;
  margin: 0 !important;
}

.swiper-pagination-bullet-active {
  background-color: var(--color-white) !important;
}

@layer utilities {
  .H0 {
    font-size: 28px;
    font-weight: 700;
  }

  .H1 {
    font-size: 24px;
    font-weight: 500;
  }

  .H2 {
    font-size: 20px;
    font-weight: 600;
  }

  .H3 {
    font-size: 18px;
    font-weight: 600;
  }

  .H4 {
    font-size: 16px;
    font-weight: 600;
  }

  .ST0 {
    font-size: 20px;
    font-weight: 500;
  }

  .ST1 {
    font-size: 18px;
    font-weight: 500;
  }

  .ST2 {
    font-size: 16px;
    font-weight: 500;
  }

  .B0 {
    font-size: 18px;
    font-weight: 400;
  }

  .B1 {
    font-size: 16px;
    font-weight: 400;
  }

  .B2 {
    font-size: 14px;
    font-weight: 400;
  }
}